<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="rapStaging" sequenceNumber="15">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.runtime.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/rt/rap/1.5/runtime/SR1-RC4-20120917-1130"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.runtime.requirements.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/rt/rap/1.5/runtime/SR1-RC4-20120917-1130"/>
</location>
</locations>
</target>
