<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.scout.releng.ant.Task1"
            library="org.eclipse.scout.releng.ant.antTask1"
            name="org.eclipse.scout.releng.ant.antTask1">
      </antTask>
   </extension>

</plugin>
